* {
  font-family: "JetBrains Mono", monospace;
}

#tittlenav{
  margin: 0 !important;
  font-size: 1.8rem !important;
}
body{
  min-height: 100vh;
}
#nav-img {
  width: 3rem;
  background-color: white;
  border-radius: 99%;
}

#intro, #resultContentContainer, #mutContentContainer, #historyContent{
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 65rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  color: black;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.4);
}

#buttonCoins, #buttonHexagram, #buttonMut{
  display: flex;
  margin: 1.5rem 0rem 1.5rem 26.9rem;
} 

#buttonCoins, #buttonHexagram{
  margin: 2rem 0;
}

#historyHeader{
  width: fit-content;
  margin: 0 29rem 2rem !important;
  display: flex !important;
  padding: 0;
}

#historyContent{
  margin-top: 0;
}

#hexagramContainer{
  background-color: #765e2e;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  background-size: contain;
  height: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}

main {
  background-image: url(https://res.cloudinary.com/dhvz93a4h/image/upload/v1683813802/I_ching%20_trigramas/1412_hlu2mp-Opt_bzej5s.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#triImgCont{
  margin: 2rem 0 0rem;
  width: 20rem;
  background-color: #60553c;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 2rem;
  padding-top: 1rem;
}

#resultImgContainer, #mutImgContainer{
  display: flex;
  justify-content: center;
}

em{
  color: #e2d2b3;
}

h2, h3, h4{
  font-weight: 700;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  background-color: #e1d6ba8f;
  border-radius: .5rem;
  padding: .4rem;
}

h4{
  font-style: italic;
}

.triImg{
  margin: -4.5rem 0;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#coinContainer {
  display: flex;
  justify-items: center;
  width: 35rem;
  height: 30rem;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #585448;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 2rem;
}

.coins>img {
  width: 12rem;
  margin: 1rem;
}

#navFooter {
  height: 4rem;
}

.navbar {
  position: inherit !important;
}

#tittleIntro{
  margin: 0rem 0rem 2rem;
  font-weight: 600;
}

.hide {
  display: none !important;
}

/*GIRO DE MONEDAS PA TRABAJAR*/

/* .side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);
}
#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
       animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
       animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@-webkit-keyframes flipTails {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
} */