* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

#history {
  width: 100%;
}

#coinCAll {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

#tittlenav {
  margin: 0 !important;
  font-size: 1.8rem !important;
}

body {
  min-height: 100vh;
}

#nav-img {
  width: 3rem;
  background-color: white;
  border-radius: 99%;
}

#intro,
#resultContentContainer,
#mutContentContainer,
#historyContent {
  padding: 2rem;
  margin: 2rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  color: black;
  border-radius: 1rem;
  background-color: rgb(255 255 255 / 50%)
}

#buttonCoins,
#buttonHexagram,
#buttonMut,
#buttonReturn {
  display: flex;
  margin: 2rem auto;
}

#buttonCoins,
#buttonHexagram {
  margin: 2rem 0;
}

#historyHeader {
  width: fit-content;
  margin: 1rem auto;
  display: flex !important;
  padding: 0;
}

#historyContent {
  margin-top: 0;
}

#hexagramContainer {
  background-color: #765e2e;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  background-size: contain;
  height: fit-content;
  width: 25%;
  min-height: 18rem;
  padding: .6rem .2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hexagramContainer>img {
  margin-bottom: .3rem;
  width: 80%;
}

main {
  background-image: url(https://res.cloudinary.com/dhvz93a4h/image/upload/v1683813802/I_ching%20_trigramas/1412_hlu2mp-Opt_bzej5s.jpg);
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#triImgCont {
  margin: 2rem 0 0rem;
  width: 20rem;
  background-color: #60553c;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 2rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#resultImgContainer,
#mutImgContainer {
  display: flex;
  justify-content: center;
}

section {
  width: 100%;
}

em {
  color: #e2d2b3;
}

h2,
h3,
h4 {
  font-weight: 700;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  background-color: #e1d6ba8f;
  border-radius: .5rem;
  padding: .4rem;
}

h4 {
  font-style: italic;
}

.triImg {
  width: 19rem;
  margin: -4.5rem 0;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#coinContainer {
  display: flex;
  justify-items: center;
  width: 30rem;
  height: 25rem;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #585448;
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
  border-radius: 2rem;
  margin-bottom: 2rem;
}

#coin1,
#coin2,
#coin3 {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.coins>img {
  width: 100%;
}

#navFooter {
  height: 4rem;
}

.navbar {
  position: inherit !important;
}

#tittleIntro,
#tittleHow {
  margin: 0rem 0rem 2rem;
  font-weight: 600;
}

ol {
  text-align: initial;
}

.hide {
  display: none !important;
}

#arrow {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  cursor: pointer;
}

#arrow>svg {
  filter: sepia(65%);
  width: 5rem;
}

.logoRed{
  max-height: 20px;
}
.bx{
  color: white;
  max-height: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px #585448);
  filter: drop-shadow(5px 5px 5px #585448);
  font-size: 2.2rem;
  margin: .5rem 1rem;
}
.scmedia{
  text-decoration: none !important;
}
.bx:hover{
  -webkit-filter: drop-shadow(-2px 2px 1px #ffffff);
  filter: drop-shadow(-2px 2px 1px #ffffff);
} 

#face:hover{
  color: #3B5998;
}

#wpp:hover{
  color: #1EBEA5;
}

#tweet:hover{
  color: #08a0e9;
}

.redesContainer{
  background-image: url(https://www.transparenttextures.com/patterns/wood-pattern.png);
    background-color: #e1d6ba8f;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

#arrow{
  max-width: 60px;
}
@media screen and (max-width: 650px) {
  #arrow>svg {
    width: 4rem !important;
  }

  #intro,
  #resultContentContainer,
  #mutContentContainer,
  #historyContent {
    margin: 1rem auto;
    margin-bottom: 1rem;
    font-size: 1.2rem !important;
    padding: 1.5rem !important;
  }

  h2,
  h3,
  h4 {
    font-size: 1.3rem;
  }

  h4 {
    width: fit-content;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
  }

  #buttonCoins,
  #buttonHexagram,
  #buttonMut,
  #buttonReturn {
    margin: 1rem auto !important;
  }

  #triImgCont {
    width: 90%;
    display: flex;
    align-items: center;
  }

  #resultSection {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  #resultImgContainer,
  #mutImgContainer {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  #coinsSection {
    width: 100% !important;
    display: flex;
    flex-direction: column !important;
  }

  #coinCAll {
    width: 90%;
    margin: auto;
    gap: .5rem !important;
    display: flex;
    justify-content: center;
  }

  #coinContainer {
    width: 45% !important;
    height: 22rem !important;
    margin-right: .5rem !important;
  }

  #coin1,
  #coin2,
  #coin3 {
    margin: 0.5rem !important;
    display: flex;
    align-items: center;
    width: 6rem !important;
    height: 6rem !important;
  }

  #hexagramContainer {
    display: flex;
    flex-direction: column;
  }

  #historyHeader {
    margin: 0 auto .8rem !important;
  }

  #hexagramContainer {
  
    min-height: 12rem;
    width: 30%;
  }
}

@media screen and (max-width:450px) {
  #hexagramContainer {
    min-height: 10rem;
    width: 30%;

  }
}